body{
    background-color:dimgray;
font-family: Verdana;}

h1{color: indianred;}
h2{color:white;}
h3{color: white;}
ul{color:white;}
p{color:white;}
ol{color:white;}
tr{color:white;}


.navigatie{
    list-style: none;
    display: flex;
    gap: 25px;
    padding:0;
    margin-bottom:30px;
}

.navigatie li a{
    color: white;
    font-weight: bold;
}

    h2:hover{
        text-shadow: 2px 2px 5px black;
        text-decoration: underline;
    }

    .navigatie li a:hover{
        text-shadow: 2px 2px 5px black;
        text-decoration: underline;
    }

    h3:hover{
        text-shadow: 2px 2px 5px black;
        text-decoration: underline;
    }

    h1:hover {
        text-shadow: 2px 2px 5px black;
        text-decoration: underline;
        animation: typing 4s infinite;

    }

    footer:hover{
        text-shadow: 2px 2px 5px gray;
        text-decoration: underline;
    }





.profielfoto:hover{
box-shadow: 2px 4px 8px grey;
}








.profielinfoblok {
    display:flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 4rem;
}

.profielinfoblok {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.naam{
    white-space: nowrap;
    font-size: 4rem;
    margin:0.5em auto;
}
.talen-tabel,
td {
    border: 1px solid black;
}

.talen-tabel {
    border-collapse: collapse;
    width: 450px;
    font-family: Arial;
}

.talen-tabel caption {
    font-weight: bold;
    margin-bottom: 8px;
}


.talen-tabel tbody tr:nth-child(even){
    background-color: darkgrey;
}

.talen-tabel tbody tr:nth-child(odd){
    background-color: lightgrey;
}


.footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: indianred;
    font-weight: bold;
}
.links,
.midden,
.rechts {
    flex: 1;
    text-align: center;
}

.links {text-align:left;}
.rechts{text-align:right;}

.sectie{
    display: none;
}

.sectie:target{
    display:block;
}

.sectie{
    opacity: 0;
    transform: translateX(-75px);
    transition: all 0.8s ease;
}

.sectie{
    opacity: 1;
    transform: translateX(0);
}
