body{
    background-color:dimgray;
font-family: Verdana;}

.profielfoto{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}






main
{
    background-image: url("images/laptop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{color:indianred}
h2{color:black;}
h3{color: indianred;}
ul{color:white;}
p{color:white;}
ol{color:white;}
tr{color:white;}
.email a{color: white;}
.rechts a{color:white;}



.naam{

    -webkit-text-stroke: 1px black;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;


}

@keyframes backcolor {
    100%{
        background-position: 0, 0;
    }

}
.navigatie{
    list-style: none;
    display: flex;
    gap: 25px;
    padding:0;
    margin-bottom:30px;
}

.navigatie li a{
    color: white;
    font-weight: bold;
}

    h2:hover{
        text-shadow: 2px 2px 5px black;

    }

    .rechts a:hover{
        text-shadow: 2px 2px 5px white;
        text-decoration: underline;
    }

    .email a:hover{
        text-shadow: 2px 2px 5px white;
        text-decoration: underline;

    }

    .navigatie li a:hover{
        text-shadow: 2px 2px 5px indianred;
        text-decoration: underline;
    }

    h3:hover{
        text-shadow: 2px 2px 5px black;

    }

    h1:hover {
        text-shadow: 2px 2px 5px black;


    }

    footer:hover{
        text-shadow: 2px 2px 5px gray;
        text-decoration: underline;
    }





.profielfoto:hover{
box-shadow: 2px 4px 8px indianred;
}

.achtergrondfoto:hover{
    box-shadow: 2px 4px 8px indianred;
}







.profielinfoblok {
    display:flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 4rem;
}

.profielinfoblok {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.naam{
    white-space: nowrap;
    font-size: 4rem;
    margin:0.5em auto;
}
.talen-tabel,
td {
    border: 1px solid black;
}

.talen-tabel {
    border-collapse: collapse;
    width: 450px;
    font-family: Arial;
}

.talen-tabel caption {
    font-weight: bold;
    margin-bottom: 8px;
}


.talen-tabel tbody tr:nth-child(even){
    background-color: darkgrey;
    color: black;
    text-decoration: underline;
}

.talen-tabel tbody tr:nth-child(odd){
    background-color: lightgrey;
    color: indianred;
    font-family: "Arial Black";
}


.footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: indianred;
    font-weight: bold;
}
.links,
.midden,
.rechts {
    flex: 1;
    text-align: center;
}

.links {text-align:left;}
.rechts{text-align:right;}

.sectie{
    display: none;
}

.sectie:target{
    display:block;
}

.sectie{
    opacity: 0;
    transform: translateX(-75px);
    transition: all 0.8s ease;
}

.sectie{
    opacity: 1;
    transform: translateX(0);
}
