


.profielinfoblok {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 4rem;
}

.profielinfoblok {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.naam{
    white-space: nowrap;
    font-size: 8rem;
    margin:0.5em auto;
}

.talen-tabel,
td {
    border: 1px solid black;
}

.talen-tabel {
    border-collapse: collapse;
    width: 450px;
    font-family: Arial;
}

.talen-tabel caption {
    font-weight: bold;
    margin-bottom: 8px;
}


.talen-tabel tbody tr:nth-child(even){
    background-color: darkgrey;
}

.talen-tabel tbody tr:nth-child(odd){
    background-color: red;
}